---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"project">["data"];

const {
  title,
  description,
  projectTimeframe,
  client,
  topic,
  pubDate,
  updatedDate,
  heroImage,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col bg-white">
    <Logo />
    <main class="self-center w-1/2 pt-24 pb-48">
      <article class="pb-16">
        <div class="flex flex-col gap-6 w-full pb-16">
          <h1 class="font-semibold">{title}</h1>
          <h3 class="font-normal">{description}</h3>
          <div class="flex flex-row justify-between pt-4">
            <div class="flex flex-col gap-1">
              <p class="font-medium text-sm">PROJECT TIME</p>
              <p class="font-normal text-base">{projectTimeframe}</p>
            </div>
            <div class="flex flex-col gap-1">
              <p class="font-medium text-sm">TOPICS</p>
              <p class="font-normal text-base">{topic}</p>
            </div>
            <div class="flex flex-col gap-1">
              <p class="font-medium text-sm">CLIENT</p>
              <p class="font-normal text-base">{client}</p>
            </div>
          </div>
        </div>
        <div class="border-t-2 border-slate-100 py-8"></div>
        {
          heroImage && (
            <img width={1020} height={510} src={heroImage} alt="Project - " />
          )
        }
        <hr />
      </article>

      <slot />
    </main>
  </body>
</html>
